body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dd,dt,p,span,input {margin:0; padding:0;}
ul,ol{list-style: none;}
a{text-decoration: none; cursor: pointer;}
img{vertical-align: top;}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

