@import "module/base.scss";
@import "module/header.scss";
@import "module/footer.scss";

body {
    background: #f9f9f9;
}

main {
    width: 100%;

    .header-wrap {
        width: 100%;
        height: 74px;
        background: #ffffff;

        .header {
            width: 1200px;
            height: 74px;
            margin: 0 auto;

            .left {
                float: left;

                .logo {
                    width: 115px;
                    height: 35px;
                    float: left;
                    margin-top: 19px;
                    margin-right: 30px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav {
                    float: left;
                    width: 550px;
                    height: 74px;
                    line-height: 74px;

                    h3 {
                        font-size: 22px;
                        font-weight: normal;
                    }
                }
            }
        }

        .right {
            float: right;
            margin-top: 18px;
        }
    }

    .islogin {
        width: 1200px;
        height: 50px;
        border: 1px solid #eace85;
        background: #fffdee;
        margin: 12px auto 0;
        box-sizing: border-box;
        font-size: 12px;

        p {
            float: left;
            
            &:first-child {
                color: #ca141d;
                margin: 0 13px 0 20px;
                padding-left: 20px;
                background: url(/images/i.png) no-repeat left;
                line-height: 50px;
            }

            &:last-child {
                width: 70px;
                height: 30px;
                background: #ca141d;
                border-radius: 2px;
                line-height: 30px;
                text-align: center;
                color: #ffffff;
                margin-top: 9px;

                a {
                    display: block;
                    color: #ffffff;
                }
            }
        }
    }

    .content {
        width: 1200px;
        height: auto;
        margin: 20px auto 0;

        .empty {
            width: 1200px;
            height: 365px;
            text-align: center;
            padding-top: 135px;
            background: #ffffff;

            p:first-child {
                width: 100px;
                height: 100px;
                margin: 0 auto 36px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            P:nth-child(2) {
                color: #a4a4a4;
                font-size: 18px;
                margin-bottom: 16px;
            }

            div {
                width: 172px;
                height: 46px;
                background: #ca141d;
                color: #ffffff;
                font-size: 18px;
                line-height: 46px;
                margin: 0 auto;
                border-radius: 2px;

                a {
                    color: #ffffff;
                    display: block;
                }
            }
        }

        .result {
            display:none;
            .title {
                width: 1200px;
                height: 40px;
                background: #ffffff;
                line-height: 40px;
                font-size: 12px;
                color: #a4a4a4;

                input {
                    width: 16px;
                    height: 16px;
                    margin: 12px 14px 0 40px;
                    float: left;
                }

                label {
                    float: left;
                }

                p {
                    float: left;
                    margin-left: 98px;
                }

                ul {
                    width: 415px;
                    margin-right: 78px;
                    float: right;
                    display: flex;
                    justify-content: space-between;

                }
            }
        }


        .product {
            width: 1200px;
            height: 140px;
            margin: 10px auto;
            background: #ffffff;

          
            .btn-login {
                width: 16px;
                height: 16px;
                float: left;
                margin: 65px 10px 0 40px;
            }

            .img {
                float: left;
                margin-top: 20px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            ul {
                width: 950px;
                height: 48px;
                float: left;
                margin: 28px 0 0 30px;
                
                li {
                    float: left;
                    font-size: 12px;
                    line-height:22px;
                    height: 48px;

                    &:first-child {
                        width:442px;
                        height: 48px;
                        margin-right:40px; 
                        a{
                            color: #3a3a3a;
                        }
                    }
                    &:nth-child(2){
                        width:83px;
                        height:47px;
                        text-align: center; 
                        margin-right: 60px;
                        s{
                            color: #a4a4a4;
                        }
                    }
                    &:nth-child(3){
                        width:65px;
                        height: 44px;
                        border: 1px solid #d6d6d6;

                        input{
                            width:42px;
                            height:44px ;
                            border: none;
                            outline: none;
                            float: left;
                            text-align: center;
                        }
                        input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
                            -webkit-appearance: none !important;
                            margin: 0;
                        }
                        p{
                            width:21px;
                            height: 44px;
                            float: left;
                            text-align: center;
                            font-size: 16px;
                            border-left: 1px solid #d6d6d6;
                            a{
                                display: inline-block;
                                width:21px;
                                height: 22px;
                                border-bottom: 1px solid #d6d6d6;
                                text-align: center;
                                color: #777777;
                                font-weight: bold;
                                font-size: 17px;
                                &:nth-child(2){
                                    border: none;
                                    line-height: 20px;
                                }
                            }
                        }
                    }
                    &:nth-child(4){
                        width:100px;
                        height: 47px;
                        text-align: center;
                        margin: 0 50px 0 60px;
                        color: #ca141d;
                        overflow: hidden;
                        white-space: nowrap;
                        i{
                            font-style: normal;
                        }
                        span:nth-child(1){
                            font-weight: bold;
                        }
                    }
                    &:last-child{
                        a{
                             color: #a4a4a4;
                        }
                    }
                }
            }
        }

        .settle{
            width:1200px;
            height: 60px;
            background: #ffffff;
            line-height: 60px;
            font-size: 12px;
            color: #3a3a3a;
            margin-bottom: 30px;
            
            label{
                float: left;
                input{
                    width:16px;
                    height: 16px;
                    margin: 23px 13px 0 40px;
                    float: left;
                }
            }

            .del{
                float: left;
                margin-left: 20px;
                a{
                    color: #3a3a3a;
                }
            }

            .tips{
                float: right;
                width:420px;
                height: 60px;
                i{
                    font-style: normal;
                }
                .l{
                    float: left;
                    width:220px;
                    height: 36px;
                    margin-top: 10px;
                    p{
                        line-height: 22px;
                       text-align: right;
                    }
                    .t{
                        font-size: 13px;
                        color: #3a3a3a;
                        span{
                            font-size: 16   px;
                            color: #ca151e;
                            font-weight:700;
                        }
                    }
                    .b{
                        font-size: 12px;
                        color: #a4a4a4;
                        span{
                            color: #3a3a3a;
                        }
                        .num{
                            color: #d3151e;
                        }
                    }
                }
                .r{
                    float:right;
                    width:180px;
                    height: 60px;
                    text-align: center;
                    background: #d3151e;
                    font-size: 18px;
                    color: #ffffff;
                }
            }
        }
    }
}