@import "module/base.scss";

body {
    background: #ebebeb;
}

header {
    width: 100%;
    height: 67px;
    background: #333333;

    .header-wrap {
        width: 998px;
        height: 67px;
        margin: 0 auto;

        .login {
            width: 140px;
            height: 35px;
            float: left;
            margin-top: 15px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        b {
            float: left;
            color: #cccccc;
            font-size: 18px;
            margin: 21px 21px 0 22px;
            font-weight: normal;
        }

        h1 {
            font-size: 17px;
            color: #ffffff;
            float: left;
            margin-top: 23px;
            font-weight: normal;
        }
    }
}

main {
    width: 998px;
    margin: 0 auto;

    .title {
        width: 998px;
        height: 35px;
        line-height: 35px;
        margin-top: 30px;

        div {
            width: 146px;
            height: 35px;
            text-align: center;
            float: left;
            cursor: pointer;

            a {
                font-size: 14px;
                color: #ffffff;
            }
        }

        .phone-num {
            background: #b40707;
            margin-right: 12px;
        }

        .mailbox {
            background: #cccccc;
        }

        p {
            float: right;
            color: #333333;
            font-size: 14px;

            a {
                color: #007dff;
            }
        }
    }

    .register-list {
        width: 998px;
        height: 520px;
        background: #ffffff;
        overflow: hidden;

        form {
            width: 420px;
            height: 580px;
            margin: 40px auto 0;
            margin-top: 40px;

            div {
                width: 418px;
                height: 42px;
                border: 1px solid #d9d9d9;
                border-radius: 25px;

                p {
                    width: 122px;
                    height: 42px;
                    text-align: center;
                    background: #f7f7f7;
                    color: 333333;
                    font-size: 14px;
                    line-height: 42px;
                    border-radius: 25px 0 0 25px;
                    float: left;
                    border-right: 1px solid #d9d9d9;
                }

                input {
                    width: 295px;
                    height: 42px;
                    float: left;
                    border: none;
                    outline: none;
                    border-radius: 0 25px 25px 0;
                    padding-left: 17px;
                    font-size: 14px;
                    box-sizing: border-box;
                    background: #f7f7f7;

                    &::-webkit-input-placeholder {
                        color: #cccccc;
                    }
                }


            }

            .cell-phone {
                margin: 10px auto 30px;

                p {
                    background: #f7f7f7 url(/images/triangle_green.png) no-repeat 96px center;
                }
            }

            .testing {
                background: rgba($color: #f7f7f7, $alpha: .5);
                line-height: 42px;
                background: url(/images/y.png) no-repeat 10px center rgba($color: #f7f7f7, $alpha: .5);

                &:hover {
                    background: url(/images/y.png) no-repeat 10px center rgba($color: #f7f7f7, $alpha: .9);
                }

                span {
                    font-size: 14px;
                    color: #666666;
                    padding-left: 46px;
                }
            }

            .code {
                margin: 9px auto 30px;
                position: relative;

                a {
                    position: absolute;
                    right: 20px;
                    top: 12px;
                    color: #007dff;
                    font-size: 14px;
                }
            }

            .pwd-1 {
                p {
                    text-align: right;
                    letter-spacing: 30px;
                }
            }

            .pwd-2 {
                p {
                    letter-spacing: 5px;
                }

                margin: 10px auto 30px;
            }

            button {
                display: block;
                width: 200px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                margin: 0 auto;
                border-radius: 25px;
                color: #ffffff;
                background: #b40707;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}

footer {
    width: 998px;
    height: 40px;
    font-size: 12px;
    color: #9999a3;
    padding-top: 35px;
    border-top: 1px solid #d7d7d7;
    margin: 40px auto 0;
    .siteinfo {
        width: 998px;
        margin-bottom: 13px;
        text-align: center;

        a {
            color: #9999a3;
            padding: 0 13px;

            &:nth-child(2) {
                border-right: 1px solid #a399ad;
                border-left: 1px solid #a399ad;
            }
        }
    }

    .copyright {
        text-align: center;
    }
}